*{
	margin: 0;
	padding: 0;
}
header{
	margin: 5vh 10vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: lightblue;
	padding: 10px 20px;
	border-radius: 10px;
	box-shadow:  0 0 5px black;
}

#cart-button{
	background:none;
	padding: 7px;
	border-radius: 40%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

#cart-button img{
	max-width: 32px;
	max-height: 32px;
}
#cart-button:hover{
	background-color: orange;
}

#product-grid{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 1rem;
}
.product-photo{
	max-width: 100px;
	margin: 0.5rem, 0;
}
.product{
	box-shadow: 0 2px 5px;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem;
}
main{
	margin: 5vh 10vw;
}

.btn{
	cursor: pointer;
	font-size: 1rem;
	border-radius: 10px;
	min-width: 50%;
	margin-top: 20px;
	background-color: lightblue;
}
.btn:hover{
	background-color: orange;
}

			@media screen and (max-width: 1000px{
	#product-grid{
		grid-template-columns: repeat(2, 1fr);
	}}
			@media screen and (max-width: 600px{
	#product-grid{
		grid-template-columns: repeat(1, 1fr);
	}}


.products-link{
	font-size: 1.5rem;
	text-decoration: null;
	color :black;
	transition: all 0.5s;
}
.products-link:hover{
	transform: scale(1.2);
	color: orange;
}












